.btn{
    background-color: #BE94FF;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 black;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
}
@media screen and (min-width: 1024px){
    /*Header*/
    #__next > div:nth-child(1) {
        position: absolute;
        width: 100%;
        transform: translateX(-50%);
        left: 50%;
    }
    /*Main content block*/
    #__next > main{
        padding-top: 120px;
    }
    #__next > #home > main {
        padding-top: 40px;
        overflow: hidden;
    }
}
/*Header search input*/
#__next > div:nth-child(1) .chakra-input__group input,
#__next > div:nth-child(1) .chakra-input__group input::placeholder,
#__next > div:nth-child(1) .chakra-input__left-element svg{
    color: black;
}

#home > main > header > div > div div > div > a > span > img {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 black;
}

#home > main > div:nth-child(2) > div > div {
    border: 1px solid black !important;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 black;
}

#home > main > div:nth-child(2) > div > div > div > a > span > img {
    border-bottom: 1px solid black !important;
}

#home > main > div:nth-child(2) > div > div > div > div > div > span {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 black;
}
#home > main > div:nth-child(2) > div > div > div > div > div > a {
    background-color: #BE94FF;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 black;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
}