.btn{
    background-color: #CEAFFF;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 black;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    justify-content: center;
}
.btn:hover{
    background-color: #BE94FF;
}
@media screen and (min-width: 1024px){
    /*Header*/
    #__next > div:nth-child(1) {
        position: absolute;
        width: 100%;
        transform: translateX(-50%);
        left: 50%;
    }
    /*Main content block*/
    #__next > div:nth-child(2) > main {
        padding-top: 120px;
    }
    #__next > #home > #main-hero > div,
    #__next > #creadores > #main-hero > div{
        padding-top: 0px;
        overflow: hidden;
    }
}
/*Header search input*/
#__next > div:nth-child(1) .chakra-input__group input,
#__next > div:nth-child(1) .chakra-input__group input::placeholder,
#__next > div:nth-child(1) .chakra-input__left-element svg{
    color: black;
}

/* Slider */
#home > main > header > div > div > div > div > div > a > span > img {
    min-width: calc(100% - 8px) !important;
    max-width: calc(100% - 8px) !important;
    min-height: calc(100% - 8px) !important;
    max-height: calc(100% - 8px) !important;
    border: 1px solid black !important;
    border-radius: 4px !important;
    box-shadow: 4px 4px 0 0 black !important;
}

/*Subastas*/
#home>main>div.chakra-stack:nth-child(2)>div>div>div>div>div {
    border: 1px solid black !important;
    border-radius: 4px !important;
    box-shadow: 4px 4px 0 0 black !important;
}
#home>main>div.chakra-stack:nth-child(2)>div>div>div>div>div > a > span > img {
    border-bottom: 1px solid black !important;
}
#home>main>div.chakra-stack:nth-child(2)>div>div>div>div>div > div > div > a.chakra-link {
    background-color: #CEAFFF;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 black;
    color: white;
    font-weight: bold;
    padding: 12px 12px;
    text-align: center;
    justify-content: center;
}
#home>main>div.chakra-stack:nth-child(2)>div>div>div>div>div > div > div > a.chakra-link:hover{
    background-color: #BE94FF;
}
/*Featured*/
#home>main>div.chakra-stack:nth-child(3)>div:nth-child(2) > div > div{
    border: 1px solid black !important;
    border-radius: 4px !important;
    box-shadow: 4px 4px 0 0 black !important;
}
#home>main>div.chakra-stack:nth-child(3)>div:nth-child(2) > div > div > a > span > img {
    border-bottom: 1px solid black !important;
}
#home>main>div.chakra-stack:nth-child(3)>div:nth-child(2) > div > div > div.chakra-stack > div > span,
#home>main>div.chakra-stack:nth-child(3)>div:nth-child(2) > div > div > div.chakra-stack > div > div {
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 1px solid black !important;
    border-radius: 4px !important;
}
#home>main>div.chakra-stack:nth-child(3)>div:nth-child(2) > div > div > div.chakra-stack > div > a.chakra-link{
    background-color: #CEAFFF;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 black;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    justify-content: center;
}
#home>main>div.chakra-stack:nth-child(3)>div:nth-child(2) > div > div > div.chakra-stack > div > a.chakra-link:hover{
    background-color: #BE94FF;
}

/*Secondary Hero in Home*/
#home__section-video::after{
    content: '';
    position: absolute;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: 'gray.200';
    transform: 'rotate(45deg)';
}